[tools]
go = "1.26.1"
golangci-lint = "v2.11.3"
prek = "0.3.3"

[tasks.test]
run = "go test ./... -coverprofile=coverage.out -covermode=count -count=1"
description = "Run tests"

[tasks.lint]
run = ["golangci-lint run ./...", "go vet ./..."]
description = "Run lint"

[tasks.fmt]
run = "gofmt -w ."
description = "Run formatting"

[tasks.fmt-check]
run = """
#!/usr/bin/env bash
output=$(gofmt -l .)
if [ -n "$output" ]; then
  printf '%s\n' "$output"
  echo 'Run: mise run fmt'
  exit 1
fi
"""
description = "Run formatting check"

[tasks.renovate-check]
run = "npx --yes --package renovate -- renovate-config-validator renovate.json"
description = "Validate renovate.json"

[tasks.pinact-update]
run = "pinact run -u -m 5"
description = "Update github actions' pinned dependencies (with minReleaseAge 5 days)"

[tasks.build]
run = "go build -o {{ project_name }} ."
description = "Build binary"

[tasks.ci]
depends = ["fmt-check", "lint", "test"]
description = "Run all CI checks"

[tasks.credits]
run = """
go install github.com/Songmu/gocredits/cmd/gocredits@latest
go mod download
gocredits -skip-missing -w .
"""

[tasks.prerelease-for-tagpr]
depends = ["credits"]
run = """
git add CHANGELOG.md CREDITS go.mod go.sum
"""

[tasks.github-actions-lint]
run = [
  "actionlint",
  "ghalint run",
  "zizmor .",
]
